<div class="flex justify-end">
	<button
		color="primary"
		mat-button
	>
		Import
	</button>
	<div class="mx-1">
		<button
			color="primary"
			mat-button
		>
			Export
		</button>
	</div>
	<button
		color="primary"
		mat-flat-button
	>
		Add customer
	</button>
</div>
<div class="mt-3">
	<mat-card>
		<mat-card-content>
			<div>
				<mat-form-field
					appearance="outline"
					class=" w-full"
					style="max-width: 500px"
				>
					<mat-label>
						Search customer
					</mat-label>
					<input matInput/>
					<mat-icon
						class="mr-2"
						matPrefix
					>
						<i-feather name="search"></i-feather>
					</mat-icon>
				</mat-form-field>
			</div>
		</mat-card-content>
	</mat-card>
</div>
