<div class="flex flex-col h-full justify-center">
	<div>
		<h1 class="mat-display-4 mk-text-primary text-center">
			404: The page you are looking for isn’t here
		</h1>
		<h6 class="mat-subheading-1 mk-text-primary text-center">
			You either tried some shady route or you came here by mistake.
			Whichever it is, try using the navigation
		</h6>
		<div class="text-center">
			<img
				alt="Under development"
				class="image"
				src="../../assets/images/undraw_page_not_found_su7k.svg"
			/>
		</div>
	</div>
</div>
