<mat-card class="h-full">
	<mat-card-content>
		<div class="flex justify-between">
			<div>
				<h6 class="mat-title mk-text-secondary mk-gutter-bottom">
					BUDGET
				</h6>
				<h3 class="mat-display-2 mk-text-primary">
					$24,000
				</h3>
			</div>
			<div>
				<mat-icon class="avatar rounded-full mk-red-darker">
					money
				</mat-icon>
			</div>
		</div>
		<div class="flex items-center mt-2">
			<mat-icon class="mk-red-darker">
				arrow_downward
			</mat-icon>
			<p class="mat-body-1 mk-red-darker pr-1">
				12%
			</p>
			<span class="mat-caption mk-text-secondary pr-1">
				Since last month
			</span>
		</div>
	</mat-card-content>
</mat-card>