<form [formGroup]="formGroup">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Password
			</mat-card-title>
			<mat-card-subtitle>
				Update password
			</mat-card-subtitle>
		</mat-card-header>
		<mat-divider></mat-divider>
		<mat-card-content>
			<mat-form-field
				appearance="outline"
				class="w-full"
			>
				<mat-label>
					Password
				</mat-label>
				<input
					formControlName="password"
					matInput
					name="password"
					type="password"
				>
			</mat-form-field>
			<mat-form-field
				class="w-full"
				appearance="outline"
			>
				<mat-label>
					Confirm Password
				</mat-label>
				<input
					formControlName="confirm"
					matInput
					name="confirm"
					type="password"
				>
			</mat-form-field>
		</mat-card-content>
		<mat-divider></mat-divider>
		<div class="flex justify-end p-2">
			<button
				color="primary"
				mat-flat-button
				type="submit"
			>
				Update
			</button>
		</div>
	</mat-card>
</form>
