<mat-card class="h-full">
	<mat-card-content>
		<div class="flex justify-between">
			<div>
				<h6 class="mat-title mk-text-secondary mk-gutter-bottom">
					TOTAL CUSTOMERS
				</h6>
				<h3 class="mat-display-2 mk-text-primary">
					1,600
				</h3>
			</div>
			<div>
				<mat-icon class="avatar rounded-full">
					people
				</mat-icon>
			</div>
		</div>
		<div class="flex items-center mt-2">
			<mat-icon class="mk-green-darker">
				arrow_upward
			</mat-icon>
			<p class="mat-body-1 mk-green-darker pr-1">
				16%
			</p>
			<span class="mat-caption mk-text-secondary pr-1">
				Since last month
			</span>
		</div>
	</mat-card-content>
</mat-card>