<div class="min-h-full pb-3 pt-3">
	<div class="mx-auto px-2 sm:px-3">
		<div class="grid grid-cols-12 gap-3">
			<div class="col-span-12 sm:col-span-6 lg:col-span-3">
				<mk-budget></mk-budget>
			</div>
			<div class="col-span-12 sm:col-span-6 lg:col-span-3">
				<mk-total-customers></mk-total-customers>
			</div>
			<div class="col-span-12 sm:col-span-6 lg:col-span-3">
				<mk-tasks-progress></mk-tasks-progress>
			</div>
			<div class="col-span-12 sm:col-span-6 lg:col-span-3">
				<mk-total-profit></mk-total-profit>
			</div>
			<div class="col-span-12 lg:col-span-8 xl:col-span-9">
				<mk-sales></mk-sales>
			</div>
			<div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3">
				<mk-traffic-by-device></mk-traffic-by-device>
			</div>
			<div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3">
				<mk-latest-products></mk-latest-products>
			</div>
			<div class="col-span-12 lg:col-span-8 xl:col-span-9">
				<mk-latest-orders></mk-latest-orders>
			</div>
		</div>
	</div>
</div>
