<mat-card class="h-full">
	<mat-card-content>
		<div class="flex justify-between">
			<div>
				<h6 class="mat-title mk-text-secondary mk-gutter-bottom">
					TASKS PROGRESS
				</h6>
				<h3 class="mat-display-2 mk-text-primary">
					75.5%
				</h3>
			</div>
			<div>
				<mat-icon class="avatar rounded-full">
					insert_chart_outlined
				</mat-icon>
			</div>
		</div>
		<div class="mt-3 pb-1">
			<mat-progress-bar
				mode="determinate"
				value="75.5"
			>
			</mat-progress-bar>
		</div>
	</mat-card-content>
</mat-card>
